footer
    .footer-bg
        background: url(../images/footer_background.jpg)
        h3
            text-transform: uppercase
        .deco
            height: 15px
            position: relative;
            right: 0;
            top: 0;
            left: 0;
            z-index: 16;
            background: url(../images/footer_bottom_decoration_img.png) repeat-x