.bg
    background: url('../images/main_bg.jpg') fixed

.bg-dark-transparent
    background-color: #00000020

a
    color: #ffffff

.big
    font-size: 60px
.great
    font-size: 1.25rem
.maj
    text-transform: uppercase
.courgette
    font-family: 'Courgette', cursive