#section4
    background: url(../images/testimonials_background.jpg)
    background-position: 51% 84%
    background-size: 1000%

#section5
    .section5
        .rounded
            border-radius: 1em !important
        @include media-breakpoint-down(md)
            width: 75% !important
        @include media-breakpoint-down(sm)
            width: 90% !important

